# THEORY QUESTIONS

1.**WHAT IS PYTHON AND WHY IT IS POPULAR**?
ANS. PYTHON IS A PROGRAMMING LANGAUAGE.IT IS WIDELY USED IN DATA INDUSTRIES BEACAUSE ITS USED TO BUILD WEBSITE AND SOFTWARE TO ANALYZIE THE DATA.
IT IS THE VERY EASY LANGUAGE TO UNDERSTAND THE PROGRMMES.
IT HAS 137000 LIBARARIES TO UNDERSTATING MACHINE LEARNING.
PYTHON IS USED BY 500 FORTUNE COMPANIES.

PYTHON IS POPULAR REASON ARE AS FOLLOWS:-
1.FRONTEND
2.BACKEND
3.DATA ANALYSIS
4.IMAGE PROCESSING
5.AUTOMATION
6.VERSITALITY
ETC.

2.**WHAT IS THE INTERPRETER IN PYTHON?**
ANS. A PYTHON INTERPRETER IS A PROGRAMME THAT CONVERTS HIGH LEVEL PROGRAMME INTO MACHINE LEARNING.
IT IS INTERMIDIATE LANGUAGE THAT CAN EASILY UNDERSTAND THE PROGRAMME.

3.**WHAT ARE THE PREDEFINED KEYWORDS IN PYTHON?**
ANS. KEYWORDS ARE PREDEFINED WORDS THAT HOLD A SPECIAL MEANING AND HAVE A SPECIFIC PURPOSE IN PYTHON PROGRAMMING.
FOR EXAMPLE








---

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4.**CAN KEYWORDS IS USED AS A VARIVALE?**
ANS.NO, THE KEYWORDS CANNOT BE USED AS A VARIABLE.
WHEN WE RUN A PROGRMME PUT VARIABLE IN PLACE OF KEYWORDS IT WILL
TROUGH AN ERROR.
PYTHON KEYWORDS ARE RESERVED WORDS THAT DEFINE THE SYNTAX AND STRUCTURE OF PYTHON.

5.**WHAT ARE THE MUTABILITY IN PYTHON?**
ANS. THE MUTABILITY IS TO CAHNGE AND OBJECT WHEN IT IS CREATED
ALL AND ALL THE MUTABILITY IS CHANGE THAT WE CAN DON WHILE PROGRAMMING
EXAMPLES OF MUTABILITY
1.LIST []
2.DIC{}.

6.**WHY ARE THE LIST MUTABLE BUT TUPLES ARE IMMUTABLE?**
ANS. **LIST**
LIST IS ACTAULLY A CONTAINER WHERE YOU CAN STORE EVERY VALUE.
THEY CAN BE MODIFIED AND CHANGE AFTER CREATED.
LIST[1,2,3.3,"ASTHHA",3+2I]
THIS VALUE CAN BE CHANGE THAT WHY LIST IS MULTABLE
THIS VALUES ARE {STRING,INTEGERS,FLOAT,COMPLEX}.
**TUPLE**
ONCE A TUPLE IS CREATED WE CANNOT CAHNGE THE VALUE BECAUSE IT IS FIXED
IN TUPLES WE USE PARANTHESIS
WE CANNOT CHANGE (ADDHAR CARD NO,EMPLOYEE ID,ETC,)
TUPLE IS ALSO HETEROGENOUS. WE CAN STORE ANYTHING IN TUPLE ASWELL
FOR EXAMPLE (INT,STRING,FLOAT,COMPLEX)

7.**WHAT ARE THE DIFFERENCE BETWEEN"==" AND "IS" OPERATOR IN PYTHON?**
ANS.THE"==" IS A **OPERATOR **
IT IS OPERATOR AND IT IS USED TO COMPARE THE **EQUALITY OF OBJECTS.**
THE OPERATOR IS USED TO CHECK THE TWO DIFFERENT VARIABLE IN SAME OBJECT IN ONE PROFRAMME THAT WHY IT IS ALSO CALLED AS COMARATIVE OPERATER.
"IS" IS A **OPERATER**
THE IS OPERATOR IN PYTHON COMPARES THE MEMORY **LOCATION OF TWO OBJECTS **

8.**WHAT ARE THE LOGICAL OPERATERS?**
ANS. THERE ARE 3 TYPES LOGICAL OPERATES
1.**AND** = OPERATER RETURNS TRUE WHEN BOTH OPERATES ARE TRUE
FOR EXAMPLE T= TRUE DENOTES 1,F= FALSE DENOTES 0
T AND T=T
T AND F=F
F AND T=F
F AND F=F
**OR**= IT RETURNS TRUE EITHER VALUE ARE TRUE
FOR EXAMPLE
T OR T=T
T OR F=T
F OR T=T
F OR F=F
**NOT**
IF SOMETHING IS TRUE NOT TURNS TO FALSE.

9.**WHAT IS TYPE CASTING IN PYTHON?**
ANS. THE PROCESS OF CHANGING THE DATA TYPE OF A VALUE OR OBJECT IS KNOWN AS TYPE CASTING OR TYPE CONVERSION.
WE USE TYPE CASTING WHILE EXECUTION USING OPERATOES IF THERE IS A MISMATCH.

10.**WHAT ARE THE DIFFERENCE BETWEEN IMPLICIT AND EXPLICIT TYPE CASTING?**
ANS.**IMPLICIT TYPE CASTING ** =IS AUTOMATICALLY CONVERTS A SMALLER TYPE TO A LARGER SIZE TYPE.
**EXPLICIT TYPE CASTING **= IS MANUAL CONVERSION OF LARGER TYPE TO SMALLER TYPE SIZE USING INBUIT FUNCTION.

11.**WHAT IS THE PURPOSE OF CONDITIONAL STATEMENT IN PYTHON?**
ANS.CONTIONAL STATEMENT HELPS YOU CODE DECISION BASED ON SOME PRE CONDITIONS
# IF
# IF ELSE
# ELIF
# NESTED IF ELSE
IF= CHECKS THE CONDITION AND EXECUTE IF THE CINDITION IS TRUE.
IF ELSE= USE TO SEGREGATE TWO DIFFERENT THING.
ELSE=ELSE WE WILL COMMENT AND THAT WILL EXECUTE.

12.**HOW DOES THE IF ELSE STATMENT WORKS?**
ANS. THE IF ELSE CONDITION IS USED TO EXCUTE BOTH TRUE AND FALSE STATMENT.

13.**WHAT IS THE DIFFFERENCE BETWEEN FOR LOOP AND WHILE LOOP?**
ANS.**WHILE LOOP** =WHILE LOOP REPEADETLY EXECUTE A BLOCK OF CODE UNTIL A CONDITION IS MET.
**FOR LOOP** = FOR LOOP ITERATE OVER A SEQUENCE OF ELEMENT WE CAN ALSO DO STRING TEST FOR IT.

14.**DESCRIBE A SCENARIO WHERE THE WHILE LOOP IS MORE SUITABLE THAN FOR LOOP?**
ANS. WHILE LOOP IS IDEAL FOR SITUATION WHERE THE NUMBER THE NUMBER OF ITERATION .
A WHILE LOOP RUNS ATLEAST ONCE AND THAN CONTINUES IF THE CONDITION IS TRUE
THAT Y WHILE LOOP IS MORE PREFERABLE THAN FOR LOOP.

# PRACTICAL QUESTIONS

1.Write a python programme print" hello world!"

In [ ]:
print("hello world!")

hello world!

2.Write a python programme that displays your name and age?

In [ ]:
name = "Asthha"
age = 21
print(name)

Asthha

In [ ]:
print(age)

21

3.Write a code to all defined predefined keywords using the keyword library?

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4.:Write a program that checks if a given word is a Python keyword

In [ ]:
number = 42
if number % 2 == 0:
    print("the number is even")

the number is even

5.Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# list is mutable means is can be change .

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
# this will not change able if we append or remove it.it will through an error

6. Write a function to demonstrate the behavior of mutable and immutable arguments0

In [ ]:
rest_menu = {"paneer_kofta":480 , "chicken_handi":590}

In [ ]:
print(rest_menu)

{'paneer_kofta': 480, 'chicken_handi': 590}

In [ ]:
# changing the value of paneer kofta
rest_menu["paneer_kofta"] = 500

In [ ]:
print(rest_menu)

{'paneer_kofta': 500, 'chicken_handi': 590}

In [ ]:
# price of panner kofta has been changed into 500

In [ ]:
s = "asthha"
type(s)

str

In [ ]:
for i in s:
  print(i)

a
s
t
h
h
a

In [ ]:
# this is the behaviour of mutable and immutable arguments

7. Write a program to demonstrate the use of logical operators

In [ ]:
a = 5
b = 6
print((a > 2 and b >= 6))

True

In [ ]:
# evaluate multiple condotions and return to true or false
a = 5
b = 6
print((a < 2 or b >= 6))

True

In [ ]:
# or operater

8.Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
a = "3"
type(a)

str

In [ ]:
int(a) # str to integer.

3

In [ ]:
a = "2.3"
type(a)

str

In [ ]:
float(a)

2.3

In [ ]:
b = float(a)
type(b) # str to float

float

In [ ]:
a = "asthha"
b = "anand wasnik"
a+b #str to str

'asthhaanand wasnik'

In [ ]:
bool("asthha") # str to boolean

True

10. Write code to demonstrate type casting with list elements

In [ ]:
my_list = ['5', '10', '15']

#typecasting with element
my_list[0] = int(my_list[0])
print(my_list)

[5, '10', '15']

In [ ]:
11. Write a program that checks if a number is positive, negative, or zero

In [ ]:
# to check if the number is positive, negative or zero
number = 0
if number > 0:
  print("the number is positive")
elif number < 0:
  print("the number is negative ")
else:
  print("the number is zero")

the number is zero

11. Write a for loop to print numbers from 1 to 10

In [ ]:
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in number:
  print(num)

1
2
3
4
5
6
7
8
9
10

12. Write a Python program to find the sum of all even numbers between 1 and 50

In [ ]:
sum_even = 0
for num in range(1, 50+1):
  if num % 2 == 0:
    sum_even += num
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

13. Write a program to reverse a string using a while loop

 14. Write a Python program to calculate the factorial of a number provided by the user using a while loop

In [ ]:
str = input("ENTER YOUR STRING IS HERE")
print("the original string is:",str)
rev_string =""
count = len(str)
while count > 0:
  rev_string += str[count - 1]
  count = count -1
print("the reversed string string using a while loop is:", rev_string)

ENTER YOUR STRING IS HEREastha
the original string is: astha
the reversed string string using a while loop is: ahtsa

In [ ]:
num = int(input("enter the number"))
factorial = 1
current = 1
while current <= num:
  factorial *= current
  current += 1
  print(f"the factorial of {num} is {factorial}")

enter the number5
the factorial of 5 is 1
the factorial of 5 is 2
the factorial of 5 is 6
the factorial of 5 is 24
the factorial of 5 is 120